<h1>Account Page</h1>
 
<br>
	<div class="row">
	  <div class="col-xs-12 col-sm-3 col-md-3">
	   <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
     <% if @user.user_image? %>
     
     <% else %>

     	<!-- なぜか下記のデフォルも表示されない。 -->
      <%= image_tag("/images/default_user_image.png") %>	
     <% end %><br>
		</div><!-- end of col-md-4 -->
    <div class="visible-xs" style="height:30px;"></div>


      <!-- ここからshowの右画面 -->
    <div class="col-xs-12 col-sm-7 col-sm-offset-2 col-md-offset-1 col-md-7">
    		<h2>Username: <%= @user.username %></h2>
				<h2>Email: <%= @user.email %></h2>
		</div><!-- end of col-md-7 col-md-offset-1 -->

	</div><!-- row -->

	<div style="border-bottom: 2px solid blue"></div>

<br>