// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

body{
	background-color: #EAECEE;
	font-family: 'Raleway', sans-serif;
}

.message{
	box-sizing: border-box;
	background-color: #927A95;
	margin-bottom: 25px;
	margin-right: 5px;
	margin-left: 5px;
	padding:5px;
	border-bottom: 4px solid #0BB523;
 	border-radius: 0;
}

.message-title{
	font-size: 1.4em;
}

/*index.html 全体を真ん中に寄せる*/
.center {
	text-align:center;
}


/*/posts/show.html 全体の装飾　*/
.message-show{
	background-color: #F4F6F6;
	box-sizing: border-box;
	padding:10px;
}

.message-posted-by{
	font-size: 0.9em;
}

.reply-to-message{
	padding-top: 15px;
}


.btn-group{
padding-top: 10px;

}

/*/posts/showページの画像を大きくする*/
.show-pic-size{
  width: 330px;
	height: 240px;
	
	}

/* comments/_comment.html コメントの装飾　*/
.comments_box{
	background-color: #F4F8F9;
	padding:10px;
	border: 1px solid #7FC8DC;
	margin-top: 20px;
}

.comments_box_user{
	background-color: #F4F8F9;
	padding:10px;
	border: 1px solid #7FC8DC;
	margin-top: 10px;
}
.comments_box_content{	
	font-size: 16px;
}

/* comments/_comment.html postボタン　*/
.post-btn{
	width: 120px;
	height: 40px;
	font-size: 18px;
}


/*indexページのボックスを綺麗に並べるcss index のrowに記述ずみ	*/
.row-eq-height {
    display: flex;
    flex-wrap: wrap;

}

/*navbarのradiusを消して丸みを無くした*/
.navbar {
	border-radius: 0;
}

/* comment show pageの日本語用アコーディオン　*/
.panel-info{
	cursor: pointer;
	
}

.comment-jp-heading{
	text-align: center;
}

/*LIKEとVOTEのアイコン表示調整*/
.index_icons .fa {
  font-size: 20px;
  margin-right: 5px;

}

/*likeボタンの*/
.like-btn{
	color:#8899a6;
}	
 
/*unlikeボタンの*/
.like-btn-unlike, .index_like-icon ,.index_comments-icon{
	color: #ff2581;	
}

/*Accountページの自己紹介ページ
Bootstrap4からは、img-thumbnailを使用することにした*/
.default_image_size{
	max-width: 200px;
	height: auto;
}

.def-img-btn{
	margin-left: 60px;
}

/*headerの自己紹介画像*/
.header-circle-img{
	width:30px;

}

/*header上下真ん中に来るバランス*/
.navbar-nav > li > a{
	line-height: 25px;
}

/*commentに表示される小さい画像*/
.comment_pic{
	width: 60px;
}

/*voteボタンの*/

.vote-btn{
	color:#8899a6;
}	
 

.vote-btn-donwvote{
	color: #ff2581;
}
/*voteボタンの終了*/











/*---Media Queries --*/
/*Extra Small (XS) 縦向きモバイル – 576px 以下*/
@media (max-width: 576px) {
  
}

/*Small (sm) 横向きモバイル 576px から 768px まで*/
@media (max-width: 768px) {
  
}

/*Medium (md) タブレット 768px から 992px まで*/
@media (max-width: 992px) {

  }

/*Medium (lg) デスクトップ, 1200px まで*/
@media (max-width: 1200px) { 

}

