/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #EAECEE;
}

.message{
	box-sizing: border-box;
	background-color: #927A95;
	margin-bottom: 25px;
	margin-right: 5px;
	margin-left: 5px;
	padding:5px;
	border-bottom: 4px solid #0BB523;
 	border-radius: 0;
}

.message-title{
	font-size: 1.4em;
}

/*index.html 全体を真ん中に寄せる*/
.center {
	text-align:center;
}


/*/posts/show.html 全体の装飾　*/
.message-show{
	background-color: #F4F6F6;
	box-sizing: border-box;
	padding:10px;
}

.message-posted-by{
	font-size: 0.9em;
}

.reply-to-message{
	padding-top: 15px;
}


.btn-group{
padding-top: 10px;

}

/*/posts/showページの画像を大きくする*/
.show-pic-size{
	width: 330px;
	height: 240px;
	
	}

/* comments/_comment.html コメントの装飾　*/
.comments_box{
	background-color: #F4F8F9;
	padding:10px;
	border: 1px solid #7FC8DC;
	margin-top: 20px;
}

.comments_box_user{
	background-color: #F4F8F9;
	padding:10px;
	border: 1px solid #7FC8DC;
	margin-top: 10px;
}
.comments_box_content{	
	font-size: 16px;
}

/* comments/_comment.html postボタン　*/
.post-btn{
	width: 120px;
	height: 40px;
	font-size: 18px;
}


/*indexページのボックスを綺麗に並べるcss index のrowに記述ずみ	*/
.row-eq-height {
    display: flex;
    flex-wrap: wrap;

}

/*navbarのradiusを消して丸みを無くした*/
.navbar {
	border-radius: 0;
}

/* comment show pageの日本語用アコーディオン　*/
.panel-info{
	cursor: pointer;
	
}

.comment-jp-heading{
	text-align: center;
}

/*LIKEとVOTEのアイコン表示調整*/
.index_icons .fa {
  font-size: 20px;
  margin-right: 5px;

}

/*likeボタンの*/
.like-btn{
	color:#8899a6;
}	
 
/*unlikeボタンの*/
.like-btn-unlike, .index_like-icon ,.index_comments-icon{
	color: #ff2581;	
}

/*Accountページの自己紹介ページ*/
.default_image_size{
	max-width: 200px;
	height: auto;
}

.def-img-btn{
	margin-left: 60px;
}

/*headerの自己紹介画像*/
.header-circle-img{
	width:30px;

}

/*header上下真ん中に来るバランス*/
.navbar-nav > li > a{
	line-height: 25px;
}

/*commentに表示される小さい画像*/
.comment_pic{
	width: 60px;
}

/*voteボタンの*/

.vote-btn{
	color:#8899a6;
}	
 

.vote-btn-donwvote{
	color: #ff2581;
}
/*voteボタンの終了*/