<!-- showのvoteボタンの部分をrenderで対応するためのView -->
<% if comment.vote_user(current_user) %>
 <div id="vote-button">
   <%= link_to post_comment_vote_path(comment.id, 1), method: :delete, remote: true do %>
<!-- remote trueを利用することでcontrollerの処理が終わったあとにjs.erbを起動させる。 -->
   <span class="fa fa-thumbs-o-up vote-btn-donwvote" id="vote-btn-donwvote">
    </span>
  <% end %>
  	<%= comment.votes_count %>      
  </div>

<% else %>

  <div id="vote-button">
    <%= link_to post_comment_votes_path(comment.id), method: :post, remote: true do %>
      <span class="fa fa-thumbs-o-up vote-btn" id="vote-btn"></span>
    <% end %>
    <%= comment.votes_count %>
  </div>
  
<% end %>

